@import "../../constants/variables.scss";

.cart-item-card {
  padding: 10px;
  border: 1px solid $primary;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 $primary;

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .img {
      height: 60px;
      width: 60px;
      padding: 0 5px;
    }
  }
}
