@import "../../constants/variables.scss";

.cart-item {
  padding: 10px;

  .summary {
    margin-top: 16px;
    height: fit-content;
    padding-bottom: 10px;
    border: 1px solid $primary;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 $primary;

    .total {
      display: flex;
      justify-content: end;
      padding-right: 10px;
    }
  }
}
